<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>AuthWeb</display-name>
	<servlet>
		<servlet-name>sr</servlet-name>
		<servlet-class>com.webauth.app.SecureHome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sr</servlet-name>
		<url-pattern>/servlet/Secure/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>vl</servlet-name>
		<servlet-class>com.webauth.app.Validator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vl</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>protected resource</web-resource-name>
			<url-pattern>/servlet/Secure/*</url-pattern>
			<url-pattern>/Admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>employee</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/Login.jsp</form-login-page>
			<form-error-page>/Error.jsp</form-error-page>
		</form-login-config>
	</login-config>
</web-app>